scipy
numba
pyyaml
sep
esutil
git+https://github.com/esheldon/meds.git
git+https://github.com/esheldon/ngmix.git
git+https://github.com/esheldon/sxdes.git
git+https://github.com/esheldon/metadetect.git
astropy
galsim
jupyter
jupyterlab
tqdm
joblib
s3fs
matplotlib
